<table class="table table-bordered">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Ship</th>
    <th colspan="2">Vote</th>
  </thead>
  <tbody>
  <% commanders.each(function(commander) { %>
  <tr <% commander %>>
    <td><img src="/images/<%= commander.attr('photo') %>"/></td>
    <td><%= commander.attr('name') %></td>
    <td><%= commander.attr('ship') %></td>
    <td><a href="javascript://" class="up">Up</a></td>
    <td><a href="javascript://" class="down">Down</a></td>
  </tr>
  <% }) %>
  </tbody>
</table>