td.vote {
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
}

.green {
	color: #33DE33;
}

.red {
	color: #DE3333;
}

td.photo, td.buttons {
	text-align: center;
	position: relative;
}

.buttons, .actions {
	width: 32px;
	text-align: center;
}

.buttons a, .actions a {
	display: block;
	margin-top: 15px;
	height: 26px;
	width: 26px;
}

a.up {
	background: url('images/icons/up.png') center center no-repeat;
}

a.up.active {
	background: url('images/icons/up-active.png') center center no-repeat;
}

a.down {
	background: url('images/icons/down.png') center center no-repeat;
}

a.down.active {
	background: url('images/icons/down-active.png') center center no-repeat;
}


a.favorite {
	background: url('images/icons/bookmark.png') center center no-repeat;
}

a.delete {
	background: url('images/icons/delete.png') center center no-repeat;
}

.vote span {
	line-height: 45px;
}

.actions img {
	display: block;
}

.photo {
	width: 136px;
}

.favorites .badge {
	font-size: 110%;
}

th, td.large {
	font-size: 150%;
}

th {
	color: #33B5E5;
	font-weight: bold;
}

.favorites ul {
	margin-bottom: 0;
}

.favorites .badge {
	padding: 8px;
	line-height: 40px;
}

td.vote {
	cursor: pointer;
}
