<table class="table table-bordered">
  <thead>
    <th>Name</th>
    <th>Ship</th>
  </thead>
  <tbody>
  <% commanders.each(function(commander) { %>
  <tr>
    <td><%= commander.attr('name') %></td>
    <td><%= commander.attr('ship') %></td>
  </tr>
  <% }) %>
  </tbody>
</table>